html, body {
  height: 100%;
}

.devtools {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  overflow: hidden;
  border-top: 3px solid black;
}

.devtools .top {
  position: fixed;

  top: 0px;
  width: 100%;
  height: 3px;

  background-color: hsl(0, 0%, 35%);
  cursor: s-resize;
  z-index:1;
}

.devtools .top.moving {
    -webkit-user-select:none;
}

.devtools .resizearea {
    display:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.5);
    -webkit-user-select:none;
    color:#fff;
    font-size:20px;
    font-family:monospace;
    text-align:center;
    z-index:2;
    line-height:2em;
}

.devtools iframe {
  position: absolute;

  width: 100%;
  height: 100%;

  overflow: hidden;

  border: 0;
  z-index:1;
}

